*{
    margin:0px;
    padding:0px;
    /* background-color: blueviolet; */
    
}

#profile-container{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url(./Rectangle\ 1.png);
/* object-fit: scale-down; */
width:300px;
border:1px solid black;
height:450px;
margin:auto;
}

#main-conatiner{
   display:flex;
   flex-direction: column; 
   justify-content: center;
align-items: center;
height:auto;

/* width:300px;
height:60vh; */
}